# Load All Libraries Required

In [2]:
import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup

# Load URL

In [3]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url, header=0)[0]

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [4]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table

In [5]:
df=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [6]:
df.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Rouge,Malvern
M1C       Scarborough  Port Union,Highland Creek,Rouge Hill
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [7]:
df.loc[df['Neighbourhood']=="Not assigned",'Neighbourhood']=df.loc[df['Neighbourhood']=="Not assigned",'Borough']

In [8]:
df.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Rouge,Malvern
M1C       Scarborough  Port Union,Highland Creek,Rouge Hill
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [9]:
print ("no. rows= ",df.shape[0])

no. rows=  103